<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Projects</title>
        </head>
        <body>
            <main>
                <div>
                    <h1>{{ tasks.name }}</h1>
                    <h2>Tasks</h2>
                    {% if project in tasks %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Assignee</th>
                                    <th>Start date</th>
                                    <th>Due date</th>
                                    <th>Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in projects_tasks %}
                                    <tr>
                                        <td>{{ task.name }}</td>
                                        <td>{{ task.assignee }}</td>
                                        <td>{{ task.start_date }}</td>
                                        <td>{{ task.due_date }}</td>
                                        <td>{{ task.is_completed|yesno }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>The project has no tasks</p>
                    {% endif %}
                </div>
            </main>
        </body>
    </html>
